.header {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

.header-logo {
    padding-left: 20px;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-right: 20px;
}