html,
body,
#root {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}

.sidebar {
    width: 250px;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    border-right: 2px solid black;
    overflow-y: auto;
}

.sidebar .ant-menu {
    border: none;
    background: transparent;
}

.sidebar .ant-menu-item,
.sidebar .ant-menu-submenu-title {
    height: 32px;
    line-height: 32px;
    margin: 0;
    background: transparent !important;
}

.sidebar .ant-menu-sub {
    background: transparent !important;
}

/* First level */
.sidebar > .ant-menu > .ant-menu-item,
.sidebar > .ant-menu > .ant-menu-submenu > .ant-menu-submenu-title {
    padding-inline-start: 12px !important;
}

/* Second level */
.sidebar > .ant-menu > .ant-menu-submenu > .ant-menu-sub > .ant-menu-item,
.sidebar > .ant-menu > .ant-menu-submenu > .ant-menu-sub > .ant-menu-submenu > .ant-menu-submenu-title {
    padding-inline-start: 32px !important;
}

/* Third level */
.sidebar .ant-menu-sub .ant-menu-sub .ant-menu-item,
.sidebar .ant-menu-sub .ant-menu-sub .ant-menu-submenu-title {
    padding-inline-start: 52px !important;
}

/* Fourth level */
.sidebar .ant-menu-sub .ant-menu-sub .ant-menu-sub .ant-menu-item,
.sidebar .ant-menu-sub .ant-menu-sub .ant-menu-sub .ant-menu-submenu-title {
    padding-inline-start: 72px !important;
}

.sidebar .ant-menu-item-selected {
    background: transparent !important;
}

.sidebar .ant-menu-item:hover,
.sidebar .ant-menu-submenu-title:hover {
    background: transparent !important;
}